//　変数定義
$main_color: #f0e68c;
$bg_color: #fefefe;
$text_color: #202020;
$sub_text_color: #333333;
$caption_text_color: #606060;
$bg_text_color: #999359;
$border_color: #dddddd;

//　フォントのサイズ
$title_font_size: 1.2em;
$subtitle_font_size: 1em;
$caption_font_size: 0.8em;

// デバイス定義
$breakpoint-tablet: 1024px; /* 変数宣言 */
$breakpoint-mobile: 640px; /* 変数宣言 */

// アニメーション
//名前に対するアニメーション
@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//　背景に対するアニメーション
@keyframes fadeinbg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    70% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 0.8;
        transform: translateY(0);
    }
}
//　背景に対するアニメーション
@keyframes fadeoutbg {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}
//　背景色が変化する際のアニメーション
@keyframes changebg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes fadeinscroll {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

//　style
body {
    background-color: $bg_color;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    color: $text_color;
    font-size: 1em;
    font-weight: 400;
}

// フォント系初期設定
h1,
h2,
h3,
p,
span {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h2,
h3 {
    font-weight: 400;
}

p,
span {
    font-size: 0.8em;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $text_color;

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    opacity: 0;
}

.wrapper {
    position: relative;
    width: 100%;
}

.logo_area {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: 30;
}

.logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: $title_font_size;
    letter-spacing: 5px;
    animation-name: fadein;
    animation-duration: 3s;

    &.fade_out {
        animation-name: fadeout;
        animation-duration: 1s;
    }
    &.none {
        opacity: 0;
    }
}

.bg_area {
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: $main_color;
    top: 50%;
    left: 0;
    opacity: 0.8;
    animation-name: fadeinbg;
    animation-duration: 4s;

    &.fade_out {
        animation-name: fadeoutbg;
        animation-duration: 1s;
    }
    &.none {
        opacity: 0.2;
    }

    &.bg_about {
        animation-name: changebg;
        animation-duration: 1s;
        background-color: red;
    }
    &.bg_skill {
        animation-name: changebg;
        animation-duration: 1s;
        background-color: blue;
    }
    &.bg_portfolio {
        animation-name: changebg;
        animation-duration: 1s;
        background-color: green;
    }
    &.bg_contact {
        animation-name: changebg;
        animation-duration: 1s;
        background-color: pink;
    }
}

.scroll_icon {
    position: fixed;
    width: 100%;
    bottom: 5%;
    text-align: center;
    z-index: 600;
    animation-name: fadeinscroll;
    animation-duration: 5s;

    &.fade_out {
        animation-name: fadeout;
        animation-duration: 1s;
    }
    &.none {
        opacity: 0;
    }

    .scroll_text {
        color: $bg_text_color;
        letter-spacing: 5px;
        font-size: $subtitle_font_size;
        font-weight: 300;
        margin-bottom: 1em;
    }

    .lnr-chevron-down {
        color: $bg_text_color;
        font-size: 30px;
    }
}

.nav_bar {
    position: absolute;
    bottom: 50%;
    z-index: 400;

    ul {
        list-style: none;
        display: flex;
    }

    li {
        margin: 0 16px;
    }
}

//　content
.content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 400;

    &.section_bg {
        // background-color: blue;
    }

    section {
        margin-bottom: 6em;
    }

    .section_title {
        text-align: center;
        margin-bottom: 3em;

        h2 {
            font-size: 1.2em;
            letter-spacing: 5px;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 0.8em;
            letter-spacing: 1px;
            color: $sub_text_color;
        }
    }
}

// ABOUT
.about_flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    h3 {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-bottom: 1em;
    }

    span {
        font-size: 0.8em;
    }

    .about_left {
        width: 50%;

        .bio_table {
            width: 60%;
            margin-left: auto;
        }
    }

    .about_right {
        width: 50%;
        .about_text {
            width: 60%;
            margin-left: 2em;
            margin-right: auto;
            letter-spacing: 0.05em;
            line-height: 1.5em;
            text-align: justify;
        }
    }
}

.bio {
    margin-bottom: 1em;

    .bio_year {
        margin-right: 1em;
        // color: $main_color;
    }
}

.sf_about_left {
    display: none;
}

// SKILL
.skill {
    width: 80%;
    margin: 0 auto;

    .skill_title {
        text-align: center;
    }
    .skill_caption {
        text-align: center;
    }
    .skill_icon {
        text-align: center;
    }

    .lnr {
        font-size: 100px;
        color: #606060;
    }

    .skill_text {
        text-align: justify;
    }
}

// PORTFOLIO
.portfolio {
    width: 80%;
    margin: 0 auto;

    .portfolio_text_wrap {
        width: 100%;
        font-feature-settings: "palt" 1;
    }

    .mb-2 {
        margin-bottom: 0.5em;
    }

    .portfolio_img {
        width: 100%;
        height: auto;
        margin-bottom: 0.9em;
        background-color: #fff;
        transition: all 0.3s ease;
        border: solid 1px $border_color;
        position: relative;

        &:hover {
            opacity: 0.7;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .hover_box {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            // width: 100%;
            // height: 100%;
            opacity: 0;
            vertical-align: middle;
            text-align: center;

            &.isvisible {
                opacity: 0.8;
                background-color: $main_color;
            }
        }
    }

    .portfolio_title {
        font-size: 1em;
        letter-spacing: 0.1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .portfolio_text {
        text-align: justify;
        line-height: 1.5em;
    }

    .chips {
        text-align: left;
        color: $caption_text_color;
    }
}

// CONTACT
.contact {
    width: 100%;

    .contact_table {
        display: flex;
        justify-content: center;
    }

    .contact_link {
        margin: 0 3em;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    .contact_img {
        width: 30px;
        height: auto;
        transition: all 0.3s ease;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .lnr-envelope {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    /*　画面サイズ 499pxまで適用　*/
    // ABOUT
    .about_flex {
        display: block;

        .about_left {
            display: none;
        }

        .about_right {
            width: 100%;

            .about_text {
                width: 80%;
                margin-left: 2em;
            }
        }
    }
    .sf_about_left {
        display: block;
        margin-top: 2em;

        .bio_table {
            width: 80%;
            margin-left: 2em;

            span {
                font-size: 0.8em;
            }
        }
    }

    // SKILL
    .skill_tabel {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 16px 4vw;
    }
    .skill_content {
        grid-column: span 12;
        margin-bottom: 2em;
    }

    .skill_caption {
        margin-bottom: 1em;
    }

    .skill_text {
        margin: 0 auto;
        margin-top: 1em;
        max-width: 240px;
    }
    //　PORTFOLIO
    .portfolio_table {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 32px 4vw;
    }

    .portfolio_content {
        grid-column: span 12;
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
    /*　画面サイズ 500pxから999pxまで適用　*/
    // SKILL
    .skill_tabel {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 16px 4vw;
    }

    .skill_content {
        grid-column: span 4;
        margin-bottom: 2em;
    }

    .skill_caption {
        margin-bottom: 1em;
    }

    .skill_text {
        margin: 0 auto;
        margin-top: 1em;
        max-width: 240px;
    }

    //　PORTFOLIO
    .portfolio_table {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 32px 4vw;
    }

    .portfolio_content {
        grid-column: span 6;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1021px) {
    /*　画面サイズ 1000px以上から適用　*/
    // SKILL
    .skill_tabel {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 16px 4vw;
    }

    .skill_content {
        grid-column: span 4;

        .skill_caption {
            margin-bottom: 2em;
        }

        .skill_text {
            margin-top: 2em;
        }
    }

    //　PORTFOLIO
    .portfolio_table {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr;
        grid-gap: 32px 4vw;
    }

    .portfolio_content {
        grid-column: span 4;
        width: 90%;
        margin: 0 auto;
    }
}
